.DS_Store
.vscode/
.idea/
.git/
.env
.env.xtf
tests/
coverage.xml
images/
phpunit.xml
logs
README.md
/worker/
/docker/mysql/dbdata
/storage/
/storage-xtf/
/cookie.txt
/public/images/
**/node_modules
frontend/node_modules
backend/node_modules
backend/vendor
backend/.*
backend/storage/logs/*.log
docker/mysql/dbdata/
storage
storage-xtf
database.sqlite
